@use './_variable' as *;


footer {
    background-color: $primary;
    padding: 3em;

    img {
        width: 350px;
        max-width: 100%;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    h3 {
        color: $secondary;
    }

    ul {
        padding-left: 0px;
        list-style: none;
        li {
            padding: 10px 0px;
        } 
        a {
        color: $white;
        text-decoration: none;
        font-weight: 500;
        transition: all .3s ease-in-out;
        margin-left: 0px;
            &:hover {
                color: $secondary;
                margin-left: 10px;
                transition: all .3s ease-in-out;
            }
        }
    }

    p  {
        color: $white;
        margin-left: 0;
        
    }
}