@use './_variable' as *;
.logo-header {
    width: 250px;
    height: auto;
}

nav {

    background-color: $primary;
    
    .nav-item {
        padding: 0px 20px;
        a {
            color: $white;
            font-weight: bold;

            &:hover {
                color: $secondary;
            }
        }
    }
}

.navbar-toggler {
    background-color: $secondary;
}

