@use './_variable' as *;
@use './_header'   as *;
@use './_footer'   as *;


* {
    font-family: $font;
}

.banner-01 {
    background: url('../image/banner-01.jpg') no-repeat;
    background-size: 100% 100%;
}

.banners {
    max-height: 400px;
}

.draggable {
    max-height: 400px;
}