.logo-header {
  width: 250px;
  height: auto;
}

nav {
  background-color: #1D4ED8;
}
nav .nav-item {
  padding: 0px 20px;
}
nav .nav-item a {
  color: #fff;
  font-weight: bold;
}
nav .nav-item a:hover {
  color: #FACC15;
}

.navbar-toggler {
  background-color: #FACC15;
}

footer {
  background-color: #1D4ED8;
  padding: 3em;
}
footer img {
  width: 350px;
  max-width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
}
footer h3 {
  color: #FACC15;
}
footer ul {
  padding-left: 0px;
  list-style: none;
}
footer ul li {
  padding: 10px 0px;
}
footer ul a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  margin-left: 0px;
}
footer ul a:hover {
  color: #FACC15;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}
footer p {
  color: #fff;
  margin-left: 0;
}

* {
  font-family: "Fira Sans", sans-serif;
}

.banner-01 {
  background: url(../image/banner-01.jpg) no-repeat;
  height: 400px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7294117647);
  background-blend-mode: multiply;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}
.banner-01 h2 {
  color: #fff;
}
.banner-01 p {
  color: #fff;
}

.banner-02 {
  background: url(../image/banner-02.jpg) no-repeat;
  height: 400px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7294117647);
  background-blend-mode: multiply;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}
.banner-02 h2 {
  color: #fff;
}
.banner-02 p {
  color: #fff;
}

.banner-03 {
  background: url(../image/banner-03.jpg) no-repeat;
  height: 400px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7294117647);
  background-blend-mode: multiply;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}
.banner-03 h2 {
  color: #fff;
}
.banner-03 p {
  color: #fff;
}

.slick-track {
  height: 400px;
}

.sobre-index {
  padding: 4em 0em;
}
.sobre-index h1 {
  color: #FACC15;
}
.sobre-index a {
  background-color: #1D4ED8;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #1D4ED8;
}
.sobre-index a:hover {
  color: #FACC15;
  border: 1px solid #FACC15;
  transition: all 0.3s ease-in-out;
}

.solucoes-index {
  padding: 4em 0em;
}
.solucoes-index h2 {
  color: #FACC15;
}

.card-index {
  width: 300px;
  height: 300px;
  background: #1D4ED8;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0em;
  transition: all 0.3s ease-in-out;
  gap: 1em;
}
.card-index:hover {
  margin: 0em;
  transition: all 0.3s ease-in-out;
}
.card-index h3 {
  color: #FACC15;
}
.card-index svg {
  color: #fff;
  font-size: 25px;
}
.card-index p {
  color: #fff;
}

.banners {
  max-height: 400px;
}

.draggable {
  max-height: 400px;
}

.localizacao-index {
  padding: 4em 0em;
}
.localizacao-index h2 {
  color: #FACC15;
}
.localizacao-index .frame iframe {
  width: 100%;
  height: 350px;
}

.parallax-section {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../image/paralax.jpg); /* Substitua pela sua imagem */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}

.parallax-content {
  display: flex;
  gap: 4em;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 2em 3em;
  border-radius: 10px;
  width: 450px;
  justify-content: center;
}

.stat .number {
  font-size: 3em;
  font-weight: bold;
}

.stat .label {
  font-size: 1.2em;
  margin-top: 0.3em;
}

.breadcrumb-section {
  background: url(../image/banner-01.jpg);
  padding: 59px 0;
  background-color: rgba(0, 0, 0, 0.5607843137);
  background-blend-mode: multiply;
}

.breadcrumb-wrapper {
  display: flex;
  justify-content: flex-start;
}

.breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: 0;
  padding-left: 1em;
  border-left: 4px solid #FACC15;
}

.breadcrumb-item a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #fff;
  padding: 0 8px;
}

.empresa {
  padding: 4em 0em;
}
.empresa h2 {
  color: #FACC15;
}
.empresa img:first-child {
  height: 500px;
  box-shadow: 9px -9px 0px 5px #1D4ED8;
  transition: all 0.3s ease-in-out;
}
.empresa img:first-child:hover {
  box-shadow: 9px 10px 0px 5px #FACC15;
  transition: all 0.3s ease-in-out;
}

.roll-in-blurred-left {
  animation: roll-in-blurred-left 2s cubic-bezier(0.23, 1, 0.32, 1) both;
}
@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 35px;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px; /* IE 9 */ /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #000;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #000;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #000;
  border-radius: 8px;
}

.wheel {
  animation: mouse-wheel 0.6s linear infinite;
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.produtos {
  padding: 4em 0em;
}
.produtos h2 {
  color: #FACC15;
  padding-bottom: 2em;
}

.card {
  width: 350px;
  height: 400px;
  background-color: #fff;
  border-radius: 1rem;
  border: #1D4ED8 0.2rem solid;
  transition: all 0.4s ease-in;
  box-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2509803922);
  padding: 2em;
  margin: 1.5em 0em;
  justify-content: center;
  gap: 2em;
}
.card:hover {
  transform: translateY(-1.5rem);
  border: #FACC15 0.2em solid;
  border-radius: 2.5rem 0 2.5rem 0;
}
.card img {
  width: 150px;
}
.card a {
  background-color: #1D4ED8;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #1D4ED8;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-weight: 500;
}

.contact {
  padding: 130px 0;
}

.contact .heading h2 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #1D4ED8;
}

.contact .heading h2 span {
  color: #FACC15;
}

.contact .heading p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  margin: 20px 0 60px;
  padding: 0;
}

.contact .form-control {
  padding: 25px;
  font-size: 13px;
  margin-bottom: 10px;
  background: #fff;
  border: 0;
  border-radius: 10px;
  border: 1px solid #1D4ED8;
}

.contact button.btn {
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 15px;
  background: #1D4ED8;
  color: #fff;
}

.contact .title h3 {
  font-weight: 600;
  color: #1D4ED8;
}

.contact .title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 40px;
}

.contact .content .info {
  margin-top: 30px;
}

.contact .content .info i {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #1D4ED8;
  margin-right: 20px;
  text-align: center;
  width: 20px;
}

.contact .content .info h4 {
  font-size: 16px;
  line-height: 1.4;
}

.contact .content .info h4 span {
  font-size: 16px;
  font-weight: 400;
}/*# sourceMappingURL=custom.css.map */