@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 768px) {
    .stat .number {
        font-size: 2em;
    }

    .parallax-content {
        width: 370px;
        gap: 3em;
    }

}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 375px) {

}